<launch>
        <!-- Use the simulation time of the BAG -->
        <param name="/use_sim_time" value="True"/>
               
        <!-- Launch the system node -->
        <node pkg="rviz" name="rviz" type="rviz" args="-d $(find robotcar_uah)/launch/localization.rviz"/>

        <node name="map_server" pkg="map_server" type="map_server" args="$(find robotcar_uah)/maps/cropped.yaml"/>

        <node name="rosbag" pkg="rosbag" type="play" args="$(find robotcar_uah)/bags/2020-04-21-18-50-16.bag -r 0.25 -d 3 --clock"/>
        <node name="initialpose" pkg="rosbag" type="play" args="$(find robotcar_uah)/bags/initialpose.bag -d 5 --clock"/> 
        
        <node name="amcl" pkg="amcl" type="amcl" output="screen" >
                <!-- Not used, laser messages already in "scan" -->
                <!-- <remap from="scan" to="base_scan/scan" /> -->
                
                <!-- Overall filter parameters -->
                <param name="min_particles" value="20"/>
                <param name="max_particles" value="50"/>
                <param name="kld_err" value="0.05"/>
                <param name="kld_z" value="0.99"/>
                <param name="update_min_d" value="0.05"/> <!-- meters -->
                <param name="update_min_a" value="0.018"/> <!-- rad -->
                <param name="resample_interval" value="5"/>
                <param name="transform_tolerance" value="0.2"/>
                <param name="recovery_alpha_slow" value="0.0"/>
                <param name="recovery_alpha_fast" value="0.0"/>
                <param name="gui_publish_rate" value="10.0"/>
                
                <!-- Laser model parameters -->
                <param name="laser_max_beams" value="40"/>
                <param name="laser_z_hit" value="0.95"/>
                <param name="laser_z_short" value="0.05"/>
                <param name="laser_z_max" value="0.05"/>
                <param name="laser_z_rand" value="0.05"/>
                <param name="laser_sigma_hit" value="0.2"/>
                <param name="laser_lambda_short" value="0.1"/>
                <param name="laser_model_type" value="beam"/> 
                <param name="laser_likelihood_max_dist" value="2.0"/>
                
                <!-- Odometery model parameters -->
                <param name="odom_model_type" value="diff"/>
                <param name="odom_alpha1" value="0.8"/>
                <param name="odom_alpha2" value="0.2"/>
                <param name="odom_alpha3" value="0.2"/>
                <param name="odom_alpha4" value="0.8"/>
                <param name="odom_frame_id" value="odom"/>
                <param name="base_frame_id" value="vehicle_frame"/>
                <param name="global_frame_id" value="map"/>
        </node>
        
        <!-- Some nice message on the screen 
        <node pkg="robotcar_uah" name="system_node" type="MESSAGE" output="screen"/> -->
        
</launch>
