<!-- 

        Use this launcher to navigate the robot using the xbox-one joypad!

--> 

<launch>
        <node pkg="joy" name="joystick_node" type="joy_node" output="log">
        </node>

        <!-- Launch the dcmotor controller -->
        <node pkg="robotcar_uah" name="dcmotor_node" type="dcmotor.py" output="log">
        </node>

        <!-- Launch the steering controller -->
        <node pkg="robotcar_uah" name="steering_node" type="steering.py" output="log">
        </node>
        
        <!-- Launch the odometry node -->
        <node pkg="robotcar_uah" name="odometry_node" type="odometry.py" output="screen">
        </node>
        
        <!-- Launch the system node -->
        <node pkg="robotcar_uah" name="system_node" type="system.py" output="log" required="True">
		<param name="setup_x"     type="double" value="0.0" />
		<param name="setup_y"     type="double" value="0.0" />
		<param name="setup_z"     type="double" value="0.0" />
		<param name="setup_roll"  type="double" value="0.0" />
		<param name="setup_pitch" type="double" value="0.0" />
		<param name="setup_yaw"   type="double" value="3.10" />
        </node>
        
        <!-- Launch the system node 
        <node pkg="rviz" name="rviz" type="rviz" args="-d $(find robotcar_uah)/launch/rviz.config.rviz"/>  -->

        <!-- Launch the LIDAR driver -->
        <node name="ydlidar_node"  pkg="ydlidar"  type="ydlidar_node" output="screen" respawn="false" >
                <param name="port"              type="string" value="/dev/ydlidar"/>  
                <param name="baudrate"          type="int"    value="115200"/>
                <param name="frame_id"          type="string" value="laser_frame"/>
                <param name="low_exposure"      type="bool"   value="false"/>
                <param name="resolution_fixed"  type="bool"   value="true"/>
                <param name="auto_reconnect"    type="bool"   value="true"/>
                <param name="reversion"         type="bool"   value="false"/>
                <param name="angle_min"         type="double" value="-180" />
                <param name="angle_max"         type="double" value="180" />
                <param name="range_min"         type="double" value="0.1" />
                <param name="range_max"         type="double" value="16.0" />
                <param name="ignore_array"      type="string" value="" />
                <param name="samp_rate"         type="int"    value="9"/>
                <param name="frequency"         type="double" value="5"/>
        </node> 
        
        <!-- Static Transform between the LIDAR frame and the vehicle_frame 
        <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser"
                args="0.0 0.0 0.125 0.0 0.0 0.0 vehicle_frame laser_frame 1" /> -->

</launch>
